@import "~@blueprintjs/core/lib/less/variables";
@import "../../styles/lib/config";
/*@formatter:off*/

@size1: 150px;
@indent: 5px;

.header {
  grid-area: page-header;

  display: grid;
  align-content: center;
  justify-content: center;

  box-shadow: @pt-elevation-shadow-1;
  background-color: @white;
  .@{ns}-dark & {
    box-shadow: @pt-dark-elevation-shadow-1;
    background-color: @dark-gray3;
  }
}

.header__container {
  grid-area: header__container;
  display: grid;
  align-items: center;
  justify-content: center;
}

.header__logo {
  grid-area: header__logo;
  margin-left: @indent;
}

.header__middle {
  grid-area: header__middle;
}

.header__user {
  grid-area: header__user;
  justify-self: end;
  margin-right: @indent;
}

//region ADAPTIVE
@media @mobile {
  .header {
    grid-template: 'header__container'
                  / @mobile-s
  ;
  }

  .header__container {
    grid-template: 'header__logo  header__user'
                  / 1fr           1fr
  ;
  }

  .header__middle {
    display: none;
  }
}

@media @tablet {
  .header {
    grid-template: '....  header__container  ....'
                  / auto  @tablet-s          auto
  ;
  }

  .header__container {
    grid-template: 'header__logo  header__middle  header__user'
                  / @size1        1fr             @size1
  ;
  }

  .header__middle {
    display: block;
  }
}

@media @desktop {
  .header {
    grid-template: '....  header__container  ....'
                  / auto  @desktop-s         auto
  ;
  }
}
//endregion

/*@formatter:on*/
