@import "~@blueprintjs/core/lib/less/variables";
@import "../../styles/lib/config";
/*@formatter:off*/

@size1: 150px;
@indent: 5px;

.footer {
  box-shadow: @pt-elevation-shadow-1;
  background-color: @white;
  .@{ns}-dark & {
    box-shadow: @pt-dark-elevation-shadow-1;
    background-color: @dark-gray3;
  }
}

//region GRID
  .footer .app__adaptive-container {
    grid: 'footer__copyright  footer__lang'
         / 1fr                1fr          ;
  }
  .footer__copyright {
    grid-area: footer__copyright;
  }
  .footer__middle {
    grid-area: footer__middle;
  }
  .footer__lang {
    grid-area: footer__lang;
  }

@media @mobile-media {
  .footer .app__adaptive-container {
    grid: 'footer__copyright  footer__lang'
         / 1fr                1fr          ;
  }
}
@media @tablet-media {
  .footer .app__adaptive-container {
    grid: 'footer__copyright  footer__middle  footer__lang'
         / @size1             1fr             @size1       ;
  }
}
@media @desktop-media {
}
//endregion

/*@formatter:on*/
