<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Expanded Ideaspaces For Section FE004D2A-AED8-4ACC-AD5D-4E1E5DBC356A</key>
	<array/>
	<key>Expanded Sections</key>
	<array/>
	<key>Last Viewed Ideaspaces For Section FE004D2A-AED8-4ACC-AD5D-4E1E5DBC356A</key>
	<array>
		<string>66F61BA6-E6BD-41B2-B902-E54C7A6B3164</string>
	</array>
	<key>Last Viewed Section</key>
	<array>
		<string>FE004D2A-AED8-4ACC-AD5D-4E1E5DBC356A</string>
	</array>
	<key>Scroll Position For Section FE004D2A-AED8-4ACC-AD5D-4E1E5DBC356A</key>
	<string>{0, 0}</string>
	<key>Sections Visible</key>
	<false/>
</dict>
</plist>
