@import "~@blueprintjs/core/lib/less/variables";
@import "../styles/lib/config";
/*@formatter:off*/

.app {
  display: grid;
  grid-row-gap: @row-gap;

  background-color: @light-gray5;
  &.@{ns}-dark {
    background-color: @dark-gray5;
  }

  main {
    grid-area: page-main;
  }
}

//region ADAPTIVE
@media @mobile {
  .app {
    grid-template: 'page-header'    @page-header-height
                   'page-main  '    minmax(calc(100vh - 2*@page-header-height - 2*@row-gap), 1fr)
                   'page-footer'    @page-header-height
                  / @mobile-s
    ;
  }
}

@media @tablet {
  .app {
    grid-template-rows: @page-header-height  minmax(calc(100vh - 2*@page-header-height - 2*@row-gap), auto)  @page-header-height;
    grid-template-areas: 'page-header'
                         'page-main  '
                         'page-footer'
    ;
  }
}

@media @desktop {
  .app {
    grid-template: 'page-header'    @page-header-height
                   'page-main  '    minmax(calc(100vh - 2*@page-header-height - 2*@row-gap), auto)
                   'page-footer'    @page-header-height
                  / @desktop-s
    ;
  }
}
//endregion

/*@formatter:on*/
