@import "../styles/lib/config";
@import "~@blueprintjs/core/lib/less/variables";

.app {
  display: grid;
  grid-row-gap: @row-gap;
  /*@formatter:off*/
  grid-template:
    'header' @page-header-height
    'main'   minmax(calc(100vh - 2*@page-header-height - 2*@row-gap), 1fr)
    'footer' @page-header-height
; /*@formatter:on*/

  background-color: @light-gray5;

  header {
    display: grid;
    align-content: center;
    /*@formatter:off*/
    grid-template:
      'header__logo  header__middle  header__user'
    / 150px          1fr             150px
    ; /*@formatter:on*/

    box-shadow: @pt-elevation-shadow-1;
    background-color: @white;
  }

  .header__user {
    justify-self: end;
  }


  main {
  }

  footer {
    display: grid;
    align-content: center;
    /*@formatter:off*/
    grid-template:
      'footer__copyright  footer__middle  footer__lang'
    /  150px              1fr             150px
    ; /*@formatter:on*/

    background-color: @white;
  }

  .footer__lang{
    justify-self: end;
  }
}
