@import "~@blueprintjs/core/lib/less/variables";
@import "../styles/lib/config";

.app {
  display: grid;
  grid-row-gap: @row-gap;

  background-color: @light-gray5;

  main {
    grid-area: page-main;
  }

  footer {
    grid-area: page-footer;
    display: grid;
    align-content: center;
    /*@formatter:off*/
    grid-template:
      'footer__copyright  footer__middle  footer__lang'
    /  150px              1fr             150px
    ; /*@formatter:on*/

    background-color: @white;
  }

  .footer__lang {
    justify-self: end;
  }
}

//
// ADAPTIVE
//
@media @mobile {
  .app {
    /*@formatter:off*/
    grid-template: 'page-header'    @page-header-height
                   'page-main  '    minmax(calc(100vh - 2*@page-header-height - 2*@row-gap), 1fr)
                   'page-footer'    @page-header-height
                  / @mobile-s
  ; /*@formatter:on*/
  }
}

@media @tablet {
  .app {
    /*@formatter:off*/
    grid-template: 'page-header'    @page-header-height
                   'page-main  '    minmax(calc(100vh - 2*@page-header-height - 2*@row-gap), 1fr)
                   'page-footer'    @page-header-height
                  / @tablet-s
  ; /*@formatter:on*/
  }
}

@media @desktop {
  .app {
    /*@formatter:off*/
    grid-template: 'page-header'    @page-header-height
                   'page-main  '    minmax(calc(100vh - 2*@page-header-height - 2*@row-gap), 1fr)
                   'page-footer'    @page-header-height
                  / @tablet-s
  ; /*@formatter:on*/
  }
}
